/* main */
@font-face {
  font-family: "Lato", sans-serif;
  src: url(fonts/Lato-Light.ttf);
}
:root {
  --main-background-color: #2D303A;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.all .active {
  color: #F06C64;
}

.header {
  margin: auto;
  max-width: 1020px;
  background-color: #2D303A;
  min-height: 89px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header .logo {
  text-decoration: none;
  max-width: 200px;
}
.header .burger-menu {
  display: none;
}
.header h1 {
  margin: 29px 0 0 40px;
  color: white;
  text-transform: uppercase;
}
.header h1 span {
  color: #F06C64;
}
.header > .link-pages {
  margin: 42px 0 0 0;
}
.header nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.header > nav a:not(:first-child):before {
  padding: 0 10px 0;
  content: ".";
  display: inline-block;
  text-align: center;
  vertical-align: 25%;
}
.header nav a:hover {
  transition: all 0.5s ease-out;
  color: #F06C64;
}

.header__burger {
  display: none;
}

.wrapper__header {
  background-color: var(--main-background-color);
  border-bottom: 6px solid #323746;
}

.slider {
  max-width: 1020px;
  margin: auto;
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  margin: -20px 0 0 0;
  top: 50%;
  z-index: 5;
  font-size: 0;
}
.slider .slick-prev {
  left: 5%;
  background: url(img/icons/arrow-left.png) center center no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.slider .slick-next {
  right: 5%;
  background: url(img/icons/arrow-right.png) center center no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.slick-list {
  max-height: 594px;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider__item img {
  max-width: 1020px;
  max-height: 594px;
}

@keyframes backgroundOne {
  0% {
    background-color: #648BF0;
  }
  100% {
    background-color: #F06C64;
  }
}
@keyframes backgroundTwo {
  0% {
    background-color: #F06C64;
  }
  100% {
    background-color: #648BF0;
  }
}
.wrapper__slider {
  background-color: #F06C64;
  animation: backgroundOne 0.5s ease-in-out;
}

.active-background {
  background: #648BF0;
  animation: backgroundTwo 0.5s ease-in-out;
}

.services {
  margin: auto;
  max-width: 1020px;
  background: #F2F2F2;
}
.services h2 {
  display: inline-block;
  color: #666D89;
  margin: 59px 0 0 40px;
  font-size: 30px;
  line-height: 36px;
}
.services > p {
  margin: 18px 44px 32px 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}

.services-items {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.services-items h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666D89;
}
.services-items p {
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
  height: 77px;
  overflow: hidden;
}
.services-items img {
  margin: 20px 0 0 0;
}

.service__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.wrapper__services {
  background-color: #F2F2F2;
  border-bottom: 6px solid #ffffff;
  border-top: 6px solid #EA676B;
}

.portfolio {
  max-width: 1020px;
  color: #666D89;
  background: #2D303A;
  margin: -25px auto 0;
}
.portfolio h2 {
  padding: 59px 0 0 40px;
  font-size: 30px;
  line-height: 36px;
}
.portfolio p {
  margin: 14px 0 18px 40px;
  font-size: 18px;
  line-height: 30px;
}

.menu-portfolio {
  margin: 0 0 18px 41px;
}
.menu-portfolio button {
  margin: 0 8px 0 0;
  color: #666D89;
  text-decoration: none;
  border: 1px solid #767E9E;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: var(--main-background-color);
}
.menu-portfolio button:hover {
  transition: all 0.5s ease-out;
  border: 1px solid #DEDEDE;
  color: #DEDEDE;
}
.menu-portfolio .active-2 {
  color: #DEDEDE;
  border: 1px solid #DEDEDE;
}

.portfolio-images {
  margin: 0 40px 68px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow: hidden;
}

.portfolio-image-hidden {
  display: none;
}

.wrapper__portfolio {
  background-color: var(--main-background-color);
  border-bottom: 5.25px solid #323746;
}

.footer {
  margin: auto;
  max-width: 1020px;
  background-color: #2D303A;
  min-height: 76px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.copyright {
  margin: 20px 0 0 40px;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666D89;
}

.social {
  margin: 22px 0 0 0;
}
.social a {
  padding: 0 0 0 8px;
}
.social a:hover {
  cursor: pointer;
}

.wrapper__footer {
  background-color: var(--main-background-color);
}

/* media-1020px */
@media screen and (min-width: 768px) and (max-width: 1019px) {
  body .all {
    margin: auto;
  }
  body .header {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .slick-list {
    max-height: 447.25px;
  }

  .slider {
    max-width: 768px;
  }

  .slider__item img {
    max-width: 768px;
    max-height: 447.25px;
  }

  .services {
    max-width: 768px;
  }

  .services-items {
    margin: 0 79px 0 42px;
    padding: 0 0 64px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 53px;
    grid-row-gap: 39px;
  }

  .portfolio {
    max-width: 768px;
  }
  .portfolio h2 {
    padding: 59px 0 0 41px;
  }
  .portfolio p {
    margin: 14px 32px 12px 41px;
  }

  .link-portfolio {
    margin: 0 0 28px 42px;
  }

  .portfolio-images {
    margin: 0 41px 65.4px 39px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19.65px;
    overflow: hidden;
  }

  .portfolio__item img {
    width: 216.19px;
    height: 183.76px;
  }

  .footer {
    max-width: 768px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .social {
    margin: 22px 0 0 40px;
  }
}
/* media-768px */
@media screen and (max-width: 767px) {
  body .all {
    margin: auto;
  }

  .body-lock {
    overflow: hidden;
  }

  .logo {
    display: grid;
    justify-self: center;
  }

  .header .burger-menu {
    z-index: 10;
    display: grid;
    align-content: start;
    justify-items: center;
    align-items: center;
    background-color: #2D303A;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 74%;
    height: 300%;
    transition: all 0.5s linear;
  }
  .header .burger-menu .header__burger__open {
    display: block;
    position: relative;
    width: 20px;
    height: 25px;
    top: 70px;
    left: -40%;
  }
  .header .burger-menu .header__burger__open span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 9px;
  }
  .header .burger-menu .header__burger__open::before,
.header .burger-menu .header__burger__open::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
  }
  .header .burger-menu .header__burger__open::before {
    left: 0;
  }
  .header .burger-menu .header__burger__open::after {
    right: 0;
  }
  .header .burger-menu h1 {
    margin: 45px 30px 0 0;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
  }
  .header .burger-menu .logo-burger {
    text-decoration: none;
  }
  .header .burger-menu .link-pages {
    display: grid;
    margin: 184px 0 0 0;
  }
  .header .burger-menu .link-pages .link__page {
    margin: 0 0 27px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.035em;
  }

  .header .burger-menu-open {
    left: 0%;
    top: -42px;
  }

  .header {
    max-width: 375px;
    min-height: 71px;
    grid-template-columns: 1fr;
  }
  .header .link-pages {
    display: none;
  }
  .header h1 {
    justify-self: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0 0 10% 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    left: 5.5%;
    top: 100%;
    cursor: pointer;
  }

  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .slick-list {
    max-height: 219.38px;
  }

  .slider {
    max-width: 375px;
  }

  .slider__item img {
    max-width: 375px;
    max-height: 219.38px;
  }

  .services {
    max-width: 375px;
  }
  .services h2 {
    margin: 25.6px 0 0 33px;
  }
  .services > p {
    margin: 18px 29px 25px 33px;
  }

  .services-items {
    margin: 0 43px 0 33px;
    padding: 0 0 15px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .portfolio {
    max-width: 375px;
  }
  .portfolio h2 {
    padding: 42px 0 0 30px;
  }
  .portfolio p {
    margin: 14px 30px 10px;
  }

  .menu-portfolio button:hover {
    border: 1px solid #767E9E;
    color: #666D89;
  }

  .link-portfolio {
    margin: 0 0 25px 30px;
  }

  .portfolio-images {
    margin: 0 30px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 14px;
    overflow: hidden;
  }

  .portfolio__item img {
    width: 151px;
    height: 128px;
  }

  .footer {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .copyright {
    display: none;
  }

  .social {
    margin: center 0;
    padding: 0 8px 0 0;
  }
}
/* media-375px */
@media screen and (max-width: 374px) {
  .slick-list {
    height: 189.38px;
  }

  .slider__item img {
    max-width: 375px;
    max-height: 205.38px;
  }

  .portfolio-images {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
