/* main */
@font-face {
  font-family: "Lato", sans-serif;
  src: url(fonts/Lato-Light.ttf);
}
:root {
  --main-background-color: #2D303A;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.all .active {
  color: #F06C64;
}

header {
  margin: auto;
  max-width: 1020px;
  background-color: #2D303A;
  min-height: 89px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header .logo {
  text-decoration: none;
}
header > div {
  display: none;
}
header h1 {
  margin: 29px 0 0 40px;
  color: white;
  text-transform: uppercase;
}
header h1 span {
  color: #F06C64;
}
header nav {
  margin: 42px 0 0 0;
}
header nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
header > nav a:not(:first-child):before {
  padding: 0 10px 0;
  content: ".";
  display: inline-block;
  text-align: center;
  vertical-align: 25%;
}
header nav a:hover {
  transition: all 0.5s ease-out;
  color: #F06C64;
}

.wrapper__header {
  background-color: var(--main-background-color);
  border-bottom: 6px solid #323746;
}

.slider {
  margin: auto;
  max-width: 1020px;
  position: relative;
}

@keyframes actionslider {
  0% {
    position: absolute;
    left: -100%;
    right: 100%;
  }
  100% {
    position: absolute;
    right: 0;
  }
}
.slider_content {
  height: 594px;
  overflow: hidden;
}

.slider-image img {
  width: 100%;
  height: auto;
}

.active-img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  animation: actionslider 1s ease-in-out;
}

.slider-action-left {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url(./img/icons/arrow-left.png) center center no-repeat;
  border-radius: 15%;
  cursor: pointer;
}

.slider-action-right {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url(./img/icons/arrow-right.png) center center no-repeat;
  border-radius: 15%;
  cursor: pointer;
}

@keyframes backgroundOne {
  0% {
    background-color: #648BF0;
  }
  100% {
    background-color: #F06C64;
  }
}
.wrapper__slider {
  background-color: #F06C64;
  border-bottom: 6px solid #EA676B;
  animation: backgroundOne 1s ease-in-out;
}

@keyframes backgroundTwo {
  0% {
    background-color: #F06C64;
  }
  100% {
    background-color: #648BF0;
  }
}
.active-img-background {
  background: #648BF0;
  animation: backgroundTwo 1s ease-in-out;
}

.services {
  margin: auto;
  max-width: 1020px;
  background: #F2F2F2;
}
.services h2 {
  display: inline-block;
  color: #666D89;
  margin: 59px 0 0 40px;
  font-size: 30px;
  line-height: 36px;
}
.services > p {
  margin: 18px 44px 32px 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}

.services-item {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.services-item h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666D89;
}
.services-item p {
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767E9E;
  height: 77px;
  overflow: hidden;
}
.services-item img {
  margin: 20px 0 0 0;
}

.services-item1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-item2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-item3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-item4 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-item5 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-item6 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.wrapper__services {
  background-color: #F2F2F2;
  border-bottom: 6px solid #ffffff;
}

.portfolio {
  max-width: 1020px;
  color: #666D89;
  background: #2D303A;
  margin: -25px auto 0;
}
.portfolio h2 {
  padding: 59px 0 0 40px;
  font-size: 30px;
  line-height: 36px;
}
.portfolio p {
  margin: 14px 0 18px 40px;
  font-size: 18px;
  line-height: 30px;
}

.menu_portfolio {
  margin: 0 0 18px 41px;
}
.menu_portfolio button {
  margin: 0 8px 0 0;
  color: #666D89;
  text-decoration: none;
  border: 1px solid #767E9E;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: var(--main-background-color);
}
.menu_portfolio button:hover {
  transition: all 0.5s ease-out;
  border: 1px solid #DEDEDE;
  color: #DEDEDE;
}
.menu_portfolio .active-2 {
  color: #DEDEDE;
  border: 1px solid #DEDEDE;
}

.portfolio_image {
  margin: 0 40px 68px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow: hidden;
}
.portfolio_image_hidden {
  display: none;
}

.tag {
  display: none;
}

.wrapper__portfolio {
  background-color: var(--main-background-color);
  border-bottom: 5.25px solid #323746;
}

footer {
  margin: auto;
  max-width: 1020px;
  background-color: #2D303A;
  min-height: 76px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.footer {
  margin: 20px 0 0 40px;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666D89;
}

.social {
  margin: 22px 0 0 0;
}
.social a {
  padding: 0 0 0 8px;
}
.social a:hover {
  cursor: pointer;
}

.wrapper__footer {
  background-color: var(--main-background-color);
}

/* media-768px */
@media screen and (min-width: 768px) and (max-width: 1019px) {
  body .all {
    margin: auto;
  }
  body header {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .slider_content {
    max-height: 447.25px;
  }

  .slider {
    max-width: 768px;
  }

  .services {
    max-width: 768px;
  }

  .services-item {
    margin: 0 79px 0 42px;
    padding: 0 0 64px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 53px;
    grid-row-gap: 39px;
  }

  .portfolio {
    max-width: 768px;
  }
  .portfolio h2 {
    padding: 59px 0 0 41px;
  }
  .portfolio p {
    margin: 14px 32px 12px 41px;
  }

  .link-portfolio {
    margin: 0 0 28px 42px;
  }

  .portfolio_image {
    margin: 0 41px 65.4px 39px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19.65px;
    overflow: hidden;
  }

  .portfolio__image img {
    width: 216.19px;
    height: 183.76px;
  }

  footer {
    max-width: 768px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .social {
    margin: 22px 0 0 40px;
  }
}
/* media-375px */
@media screen and (max-width: 767px) {
  body .all {
    margin: auto;
  }

  .logo {
    display: grid;
    justify-self: center;
  }

  @keyframes menuanimation {
    0% {
      width: 30%;
      height: 10%;
    }
    100% {
      width: 74%;
    }
  }
  .burger-menu {
    z-index: 10;
    display: grid;
    align-content: start;
    display: grid;
    justify-items: center;
    align-items: center;
    background: #2D303A url(img/icons/Header.png) 20px 62px no-repeat;
    position: absolute;
    top: -42px;
    left: 0;
    width: 74%;
    height: 300%;
    animation: menuanimation 1.5s ease-in-out;
  }
  .burger-menu h1 {
    margin: 63px 30px 0 0;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
  }
  .burger-menu nav {
    display: grid;
    margin: 184px 0 0 0;
  }
  .burger-menu nav a {
    margin: 0 0 27px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.035em;
  }

  header {
    max-width: 375px;
    background: #2D303A url(img/icons/Burger-menu-icon.png) 20px center no-repeat;
    min-height: 71px;
    grid-template-columns: 1fr;
  }
  header nav {
    display: none;
  }
  header h1 {
    justify-self: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 26px 0 0 25px;
  }

  .slider_content {
    max-height: 219.38px;
  }

  .slider {
    max-width: 375px;
  }

  .services {
    max-width: 375px;
  }
  .services h2 {
    margin: 25.6px 0 0 33px;
  }
  .services > p {
    margin: 18px 29px 25px 33px;
  }

  .services-item {
    margin: 0 43px 0 33px;
    padding: 0 0 15px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .portfolio {
    max-width: 375px;
  }
  .portfolio h2 {
    padding: 42px 0 0 30px;
  }
  .portfolio p {
    margin: 14px 30px 10px;
  }

  .menu_portfolio button:hover {
    border: 1px solid #767E9E;
    color: #666D89;
  }

  .link-portfolio {
    margin: 0 0 25px 30px;
  }

  .portfolio_image {
    margin: 0 30px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 14px;
    overflow: hidden;
  }

  .portfolio__image img {
    width: 151px;
    height: 128px;
  }

  footer {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer {
    display: none;
  }

  .social {
    margin: center 0;
    padding: 0 8px 0 0;
  }
}
/* media-320px */
@media screen and (max-width: 374px) {
  .slider_content {
    height: 189.38px;
  }

  .portfolio_image {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
