body {
  color: black;
  text-align: center;
  font-size: 35px;
  background: url(background.jpg) 0 0 / auto 100% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-content {
  max-width: 1024px;
}
a {
  text-decoration: none;
  color: darkblue;
}
a:hover {
  color: gold;
}
.myinformacion {
  display: inline-block;
}
h1 {
  color: green;
}
img {
  border-radius: 50%;
  width: 450px;
  height: 400px;
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px 0;
}
.summary {
  margin: 50px 0 100px 0;
}
main section {
  max-width: 50%;
}
.projects {
  position: relative;
  bottom: 50%;
  left: 50%;
}
.interests {
  position: relative;
  bottom: 50%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 25px;
  }
}
