
html, body {
    margin: 0;
    padding: 0;
    font-size: 25px; 
  }
h1 {
  text-align: center;
  color: green;
}
.palette {
  width: 300px;
  height: 630px;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(191, 195, 221, 0.8);
  border-radius: 5%;
}
.line, .color:hover {
  cursor: pointer;
}
.list-lines {
  color: rgb(0, 0, 0); 
}
