:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
    --invert: 0%;
    --sepia: 0%;
    --saturate: 100%;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur))
            invert(var(--invert))
            sepia(var(--sepia))
            saturate(var(--saturate));
  }

  .hl {
    color: var(--base);
  }

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }
  .controls>div {
    display: inline-block;
  }
  input {
    width: 100px;
  }