.list-cities {
    position: fixed;
    top: 10%;
    left: center;
    z-index: 10;
    background-color: yellowgreen;
    font-size: 2rem;
    border-radius: 5px;
    padding: 0 1%;
    display: none;
}

.list-cities__elements {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.list-cities__element {
    margin-top: 5%;
    cursor: pointer;
}